/*
Theme Name:     Twenty Seventeen Playbook Wiki Theme
Theme URI:      http://www.virtusadigital.com/
Description:    A Twenty Seventeen child theme developed for the needs of the internal digital playbook wiki.
Author:         Mike Goitein
Author URI:     https://www.virtusadigital.com
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Template:       twentyseventeen
Version:        1.2.1
*/

/* Force sticky navigation into position */
#page-header {
  margin-bottom: 0 !important;
}

/* Tighten up top site branding */
.site-branding {
  background-color: #cccccc;
  padding: .5em 0;
}

/* Make all navs stick to top */
.site-navigation-fixed.navigation-top {
    bottom: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 7;
}

/* Fix some styles to tighten up whitespace */
body.page:not(.twentyseventeen-front-page) .entry-title {
    color: #222;
    font-size: 1.875rem;
    text-transform: none;
    font-weight: 400;
    clear: both;
    line-height: 1.4;
    margin: 0 0 .25em;
    padding: 0;
}

  h2 {
    font-size: 1.4rem;
    clear: both;
    margin: 0 0 .25em;
    padding: 0;
}

/* Breadcrumb Styling */
.breadcrumbs {
    padding: .5em 1em;
    margin-bottom: 1.25em;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: .25em;
    font-weight: 400;
    line-height: 1.66;
}

/* Remove padding & top & bottom borders from Advanced Sidebar Menus */
.widget ul li, .widget ol li {
    border: none;
    padding: 0;
}

h2.widget-title {
    display: none;
}

/* Clean up left nav here state */
.advanced-sidebar-menu li.current_page_item a {
    font-weight: bold;
}

.advanced-sidebar-menu li.current_page_item li a {
    font-weight: normal;
}

/* Move + - to left side of left-hand nav */
#advanced_sidebar_menu-2-wrap a {
    display: block !important;
    padding: .25em .5em .25em 1.5em !important;
}

.advanced-sidebar-menu ul li a {
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
}

#advanced_sidebar_menu-2-wrap li li a {
    padding-left: 2em !important;
}

#advanced_sidebar_menu-2-wrap li li li a {
    padding-left: 2.5em !important;
}

#advanced_sidebar_menu-2-wrap .dashicons {
    position: absolute !important;
    top: .5em !important;
    left: .25em !important;
}

/* Mobile Styles */
@media screen and (min-width: 20em) {
/* Show nav bar when admin nav is showing */
  .admin-bar .site-navigation-fixed.navigation-top {
    top: 46px;
}
  .site-branding {
    padding: 4em 0 .5em;
}

/* Desktop Styles */
@media screen and (min-width: 48em) {
  .admin-bar .site-navigation-fixed.navigation-top {
    top: 32px;
}
  .site-branding {
    padding: .5em 0;
  }
  .main-navigation>div>ul {
    border: 0;
  }
  .navigation-top .wrap {
    max-width: 90%;
    padding: 0;
  }
  .site-content {
    padding: 1em 0 0;
  }
  .search-form {
    width: 20em;
    margin: 1em 0 0 2em;
    float: right;
    display: inline-block;
    vertical-align: middle;
  }

/* Stretch content to full width on wider browsers */
/* Full width */
  .wrap {
    max-width: 90%;
    padding: 0;
  }
/* Left Nav */
  body.page-two-column:not(.archive) #primary .entry-header {
    float: left;
    width: 20%;
  }
  .site-footer .widget-column.footer-widget-1 {
    float: left;
    width: 20%;
  }
/* Right main content area */
  body.page-two-column:not(.archive) #primary .entry-content {
    float: right;
    width: 70%;
  }
  body.page-two-column #comments {
    float: right;
    width: 70%;
  }
  .site-footer .widget-column.footer-widget-2 {
    float: right;
    width: 70%;
  }
}
